<div class="h-screen">
    <div class="w-full text-center py-2 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 ml-2 p-2 text-white rounded-full bg-black" routerLink="/">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
      />
    </svg>
        <span class="ml-10"> Album </span>
    </div>
    <hr />
    <div class="h-3/4"></div>
    <hr />
</div>